@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html, body { 
  height: 100%;
}

body { 
  margin: 0; 
  background-color: #1d0433;
  /* background: linear-gradient(#5f8bbe, #c0c7ed); */
 }

#root{
  overflow-x: hidden;
}

@media (width < 960px) {
  .navbar-container{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}
