@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  overflow-x: hidden;
}

@media (width < 960px) {
  .navbar-container{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}
